[Unit]
Description=Copy RNO-G Data to Server

[Service]
User=rno-g
Restart=always
ExecStart=/bin/sh /rno-g/bin/rno-g-simple-copy
ExecReload=/bin/kill -USR1 $MAINPID
