[Unit]
Description=Apply calibration overrides every 12 hours

# For now this timer is independent of the DAQ service

[Timer]
# First command fires timer 0s after start,
# second command 12h after last firing(!)
OnActiveSec=0s
OnUnitActiveSec=12h
Unit=rno-g-apply-calib.service
