[Unit]
Description=Apply calibration overrides every 6 hours while DAQ is running
BindsTo=rno-g-acq.service

[Timer]
# run at the beginning once (the first run will be a cal. pulser run)
OnActiveSec=0
OnUnitActiveSec=12h
Unit=rno-g-apply-calib.service
